@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Lobster&family=Rubik+Dirt&display=swap");
$font-Diana: "DynaPuff", cursive;
$font-Lob: "Lobster", cursive;
$font-rubik: "Rubik Dirt", cursive;
